body {
  background-color: rgba(0, 0, 19, 1);
  background: url(./.media/Background.png);
}
body * {
  font-family: "Outfit", sans-serif;
  color: #d6d6f2;
}

div#info {
  box-sizing: content-box;
  height: 278px;
  width: 380px;
  margin: 249px 900px 295px 160px;
  display: inline-block;
  position: absolute;
}

div #p1 {
  font-size: 40px;
  font-weight: 700;
  display: block;
}

div #p2 {
  font-family: "Outfit" normal;
  font-weight: 300;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 56px;
  display: block;
}

div#buttons {
  display: inline;
  margin-top: 56px;
  color: #e2e2f5;
  display: block;
}
div#back {
  display: inline;
  border-radius: 999px;
  padding: 12px 24px;
  font-size: 14px;
  background-color: #151557;
  transition: 0.6s;
}
div #back a {
  text-decoration: none;
}
div#back:hover {
  background: #212187;
}

div#home {
  display: inline;
  margin-left: 16px;
  margin-top: 56px;
  border-radius: 999px;
  padding: 12px 24px;
  font-size: 14px;
  background-color: #151557;
  transition: .6s;
}

div#home a {
  text-decoration: none;
}

div#home:hover{
  background: #212187
}

div#num{
margin: 249px 251px 342px 783px;
position: absolute;
width: 406px;
height: 230px;
display: flex;
justify-content: center;
}

div #num1 {
  background: url(./.media/4.svg);
  color: #BF7BFB;
  width: 80px;
  height: 105px;
  transform: translateY(50%);
}
iframe{
height:230px;
width: 230px;
border: none;
margin: 0 8px;
}

div #num2 {
  background: url(./.media/4.svg);
  color: #BF7BFB;
  width: 80px;
  height: 105px;
  transform: translateY(50%);
}
